div#users
	h3 Here is a list of users :D

	table.table.table-striped
		thead
			tr
				th Id
				th Name
				th Username
				th Password
				th E-mail
				th

		tbody.tBody
			tr(*ngFor="let user of users")
				td {{ user._id }}
				td {{ user.name }}
				td {{ user.username }}
				td {{ user.password }}
				td {{ user.email }}
				td
					button.btn.btn-danger(type="button", (click)="deleteUser(user)") Delete


	addUser
	