h1 Here is the Notes
.row
	.col-md-4.sidebar
		.left-notelist
			button.btn.btn-success(routerLink="add-note") Add new note 
			h4 My Notes
			//- ul.list-groups
			//- 	li.list-group-item(*ngFor=" let note of notes")
			//- 		a() {{ note.title }}
			//- 		p Date: 
			//- 			span {{ note.createdDate | date }}
			//- 		p {{ note.body }}
			//- 		p User: 
			//- 			span {{ note.user }}
			//- 		button.btn.btn-danger((click)="deleteNote(note)") Delete

	.col-md-8
		.well
			h2 Note details
			table.table.table-striped
				thead
				tbody.tBody
					tr(*ngFor=" let note of notes")
						td {{ note.title }}
						td {{ note.body }}
						td User: 
							span {{ note.user }}
						td
							button.btn.btn-danger((click)="deleteNote(note)") Delete


